*{
    font-family: 'Nunito', sans-serif;
}
.container{
    position: fixed;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
}
.navbar{
    display: flex;
    height: 100%;
    background: white;
}
.navbar .logo{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
    .navbar .logo img{
        width: 180px;
    }
.navbar .search{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
    .navbar .search img{
        width: 25px;
    }

.navbar .account{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
    .navbar .account img{
        width: 25px;
    }
.navbar .menu{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
    .navbar .menu img{
        width: 25px;
    }


    
.doctruyen{
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 1% 3%;
}

.find{
    text-align: center;
}

.otimkiem{
    width: 80%;
    padding: 10px 20px;
    margin: 1px 0;
    box-sizing: border-box;
    border-radius: 10px; ;
}

.button{
    background-color: #32CD32;
    border: none;
    color: white;
    padding: 8px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.tieude{
    margin-top: 50px;
    font-size: larger;
}



  
.footer{
    color: white;
    background-color:rgb(40, 34, 34);
    padding:10px;
    margin: 0px -7.7888888px -7.8888px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    left: 0;
    bottom: 0;
    right: 0;
}
    .b1{
        font-size: 20px;
        text-align: center;
    }
    .b2{
        text-align: center;
    }
    .b2 img {
        width: 400px;
        padding-right: 20px;
    }
    .b3{
        text-align: center;
    }



.doctruyen{
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 1% 3%;
}

.danhsach{
    display: grid;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}


.item{
    display: inline-block;
    padding: 1%;
    border-bottom: 1px solid #EAEAEA;
    
}
.item a{
    display: inline-flex;
    color: #000;
    background-color: transparent;
    text-decoration: none;
}
.item img{
    height: 5%;
    width: 30%;
    border-radius: 4px;
}
.tieude{
    height: auto;
    width: -webkit-fill-available;
}
.tieude h3 {
    font-size: 100%;
    margin: 0;
    padding: 5%;
    height: auto;
    width: fit-content;
}
.tieude h4 {
    font-size: 80%;
    font-weight: 200;
    margin: 0;
    padding: 5%;
    height: auto;
    width: fit-content;
}