@model IEnumerable<FS_Project.Context.Truyen>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Style-TimTacGia.css">
<div class="body" style="margin: 60px 70px;">
    <div class="doctruyen">
        <div class="tentheloai">
            <h2>Tìm kiếm truyện</h2>
        </div>
        @using (Html.BeginForm("Index", "TimKiem", FormMethod.Get))
        {
            <div class="find">
                <input type="text" class="otimkiem" name="timkiemstring">
                <input type="submit" value="Tìm truyện" class="button">
            </div>
        }
        <li class="danhsach">
            @foreach (var t in Model)
            {
                <div class="item">
                    <a href="@Url.Action("Index","ChiTietTruyen", new {id = t.id_Truyen})">
                        <img src="~/images/imgTruyen/@t.AnhTruyen" alt="@t.TenTruyen">
                        <div class="tieude">
                            <h3>@t.TenTruyen</h3>
                            <h4>Lượt Xem: @t.LuotXem</h4>
                        </div>
                    </a>
                </div>
            }
        </li>
    </div>
</div>


