* {
    font-family: 'Nunito', sans-serif;
}

.container {
    position: fixed;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.navbar {
    display: flex;
    height: 100%;
    background: white;
}

    .navbar .logo {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

        .navbar .logo img {
            width: 180px;
        }

    .navbar .search {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

        .navbar .search img {
            width: 25px;
        }

    .navbar .account {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

        .navbar .account img {
            width: 25px;
        }

    .navbar .menu {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.footer {
    color: white;
    background-color: rgb(40, 34, 34);
    padding: 10px;
    margin: 0px -7.7888888px -7.8888px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    left: 0;
    bottom: 0;
}

.b1 {
    font-size: 20px;
    text-align: center;
}

.b2 {
    text-align: center;
}

    .b2 img {
        width: 400px;
        padding-right: 20px;
    }

.b3 {
    text-align: center;
}
