@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    var session = (FS_Project.Common.UserLogin)Session[FS_Project.Common.Constants.USER_SESSION];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/TrangChu/Index">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a href="/ManageAccount/Index/@session.ID">Thông tin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quên mật khẩu</li>
    </ol>
</nav>
<div class="wrapper">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/ManageAccount/Index/@session.ID">Thông tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/ManageAccount/Change_Password/@session.ID">Đổi mật khẩu</a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" href="#">Truyện theo dõi</a>
                </li>*@
        </ul>
        <div class="row justify-content-around">
            <form class="col-md-6" action="/ManageAccount/Change_Password">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    <h2>Đổi mật khẩu</h2>
                </div>
                <div class="form-group">
                    <label for="UserName">Tên tài khoản</label>
                    <input type="text" name="UserName" id="UserName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="PassOld">Mật khẩu cũ</label>
                    <input type="password" name="PassOld" id="PassOld" class="form-control">
                </div>
                <div class="form-group">
                    <label for="PassNew">Mật khẩu mới</label>
                    <input type="password" name="PassNew" id="PassNew" class="form-control">
                </div>
                @*<div class="form-group">
                        <label for="username">Nhập lại mật khẩu mới</label>
                        <input type="password" name="PassConfirm" id="passconfirm" class="form-control">
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
