@model List<FS_Project.Context.ChuongTruyen>
@{
    ViewBag.Title = "ChuongTruyen";
    Layout = "~/Areas/admin/Views/Shared/_Layout_Admin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chương truyện</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách chương</h6>
            <a style="text-decoration: none" href="/admin/Truyen/ThemChuong">
                <h6 style=" padding: 1%;">Thêm chương <i class="fa-solid fa-circle-plus"></i></h6>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên truyện</th>
                            <th>Tên Chương</th>
                            <th>Nội Dung</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ct in Model)
                        {
                            <tr>
                                <td>@ct.Truyen.TenTruyen</td>
                                <td>@ct.TenChuong</td>
                                <td>@ct.NoiDungChu</td>
                                <td><a href="/admin/Truyen/CapNhatChuong/@ct.id_Chuong"><i class="fa-regular fa-pen-to-square"></i></a></td>
                                <td>
                                    @Ajax.ActionLink("Xóa", "XoaChuong", new { @id = ct.id_Chuong }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa Chương truyện này?",
                                   OnComplete = "$('#row_" + ct.id_Chuong + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
